In [1]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore')

In [2]:
# importing data
df = pd.read_csv(r'C:\Users\Maintenant prÃªt\Desktop\PROJECTS\Project5\Data\train.csv')

In [3]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [4]:
df.shape

(1017209, 9)

In [5]:
# Extracting weekdays, weekends, numbure of days to holidays, and number of days after holiday column fro Train_df
df['Date'] = pd.to_datetime(df['Date'])
df['Weekday'] = df['Date'].dt.dayofweek
df['Weekend'] = df['Weekday'].apply(lambda x: 1 if x >= 5 else 0)
df['Days_to_Holiday'] = df['Date'] - df['Date'].min()
df['Days_to_Holiday'] = df['Days_to_Holiday'].apply(lambda x: x.days)
df['Days_after_Holiday'] = df['Date'].max() - df['Date']
df['Days_after_Holiday'] = df['Days_after_Holiday'].apply(lambda x: x.days)

# extract the begining of month, midel month, and end of month
df['Month_Begin'] = df['Date'].apply(lambda x: 1 if x.day == 1 else 0)
df['Month_Middle'] = df['Date'].apply(lambda x: 1 if x.day == 15 else 0)
df['Month_End'] = df['Date'].apply(lambda x: 1 if x.day == 31 else 0)

# Extract weeks from DayofWeek column
df['Week'] = df['Date'].dt.isocalendar().week
#Extract weekly sales
df['Weekly_Sales'] = df.groupby(['Store', 'Week'])['Sales'].transform('sum')

In [7]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Weekday,Weekend,Days_to_Holiday,Days_after_Holiday,Month_Begin,Month_Middle,Month_End,Week,Weekly_Sales
0,1,5,2015-07-31,5263,555,1,1,0,1,4,0,941,0,0,0,1,31,88748
1,2,5,2015-07-31,6064,625,1,1,0,1,4,0,941,0,0,0,1,31,98899
2,3,5,2015-07-31,8314,821,1,1,0,1,4,0,941,0,0,0,1,31,140580
3,4,5,2015-07-31,13995,1498,1,1,0,1,4,0,941,0,0,0,1,31,186442
4,5,5,2015-07-31,4822,559,1,1,0,1,4,0,941,0,0,0,1,31,95080

In [7]:

# Extract sales per customer, sales per day, and sales per week
#df['Sales_per_Customer'] = df['Weekly_Sales'] / df['Customers']
#df['Sales_per_Day'] = df['Weekly_Sales'] / df['Days_to_Holiday']
#df['Sales_per_Week'] = df['Weekly_Sales'] / df['Week']

In [8]:
df.isna().sum()

Store                 0
DayOfWeek             0
Date                  0
Sales                 0
Customers             0
Open                  0
Promo                 0
StateHoliday          0
SchoolHoliday         0
Weekday               0
Weekend               0
Days_to_Holiday       0
Days_after_Holiday    0
Month_Begin           0
Month_Middle          0
Month_End             0
Week                  0
Weekly_Sales          0
dtype: int64

In [9]:
# Drop rows with missing values in 'Sales_per_Customer'
#df = df.dropna(subset=['Sales_per_Customer'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Store               1017209 non-null  int64
 1   DayOfWeek           1017209 non-null  int64
 2   Date                1017209 non-null  datetime64[ns]
 3   Sales               1017209 non-null  int64
 4   Customers           1017209 non-null  int64
 5   Open                1017209 non-null  int64
 6   Promo               1017209 non-null  int64
 7   StateHoliday        1017209 non-null  object
 8   SchoolHoliday       1017209 non-null  int64
 9   Weekday             1017209 non-null  int32
 10  Weekend             1017209 non-null  int64
 11  Days_to_Holiday     1017209 non-null  int64
 12  Days_after_Holiday  1017209 non-null  int64
 13  Month_Begin         1017209 non-null  int64
 14  Month_Middle        1017209 non-null  int64
 15  Month_End           1017209 non-null  int64
 16  Week                1017209 non-null  UInt32
 17  Weekly_Sales        1017209 non-null  int64
dtypes: UInt32(1), datetime64[ns](1), int32(1), int64(14), object(1)
memory usage: 132.9+ MB

In [10]:
df['Week'] = df['Week'].astype('int64')

In [11]:
# one hote encode StateHoliday
df = pd.get_dummies(df, columns=['StateHoliday'])

In [12]:
# Drop the datetime column
df = df.drop('Date', axis=1)

In [13]:
df

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday,Weekday,Weekend,Days_to_Holiday,...,Month_Begin,Month_Middle,Month_End,Week,Weekly_Sales,StateHoliday_0,StateHoliday_0,StateHoliday_a,StateHoliday_b,StateHoliday_c
0,1,5,5263,555,1,1,1,4,0,941,...,0,0,1,31,88748,False,True,False,False,False
1,2,5,6064,625,1,1,1,4,0,941,...,0,0,1,31,98899,False,True,False,False,False
2,3,5,8314,821,1,1,1,4,0,941,...,0,0,1,31,140580,False,True,False,False,False
3,4,5,13995,1498,1,1,1,4,0,941,...,0,0,1,31,186442,False,True,False,False,False
4,5,5,4822,559,1,1,1,4,0,941,...,0,0,1,31,95080,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,0,0,0,0,1,1,0,0,...,1,0,0,1,65535,False,False,True,False,False
1017205,1112,2,0,0,0,0,1,1,0,0,...,1,0,0,1,119666,False,False,True,False,False
1017206,1113,2,0,0,0,0,1,1,0,0,...,1,0,0,1,85433,False,False,True,False,False
1017207,1114,2,0,0,0,0,1,1,0,0,...,1,0,0,1,286699,False,False,True,False,False
1017208,1115,2,0,0,0,0,1,1,0,0,...,1,0,0,1,77286,False,False,True,False,False

## spliting the dataset

In [14]:
# matrix of features the sales column is out prediction target
X = df.drop(['Sales'], axis=1)
y = df['Sales']

In [15]:
# split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
X_train.head()

,Store,DayOfWeek,Customers,Open,Promo,SchoolHoliday,Weekday,Weekend,Days_to_Holiday,Days_after_Holiday,Month_Begin,Month_Middle,Month_End,Week,Weekly_Sales,StateHoliday_0,StateHoliday_0,StateHoliday_a,StateHoliday_b,StateHoliday_c
417683,344,7,0,0,0,0,6,1,537,404,0,0,0,25,174817,False,True,False,False,False
659402,108,7,0,0,0,0,6,1,320,621,0,0,0,46,55407,False,True,False,False,False
739873,299,5,749,1,0,0,4,0,248,693,0,0,0,36,99206,False,True,False,False,False
109671,402,5,475,1,0,0,4,0,843,98,0,0,0,17,79409,False,True,False,False,False
422541,742,3,1049,1,1,0,2,0,533,408,0,0,0,25,151918,False,True,False,False,False

In [17]:
X_train.shape

(813767, 20)

In [18]:
y_train.shape

(813767,)

In [19]:
X_test.shape

(203442, 20)

In [20]:
y_test.shape

(203442,)

In [21]:
# feature scaling with standard scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [61]:
#np.isinf(X_train)

,Store,DayOfWeek,Customers,Open,Promo,SchoolHoliday,Weekday,Weekend,Days_to_Holiday,Days_after_Holiday,...,Week,Weekly_Sales,Sales_per_Customer,Sales_per_Day,Sales_per_Week,StateHoliday_0,StateHoliday_0,StateHoliday_a,StateHoliday_b,StateHoliday_c
417683,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
659402,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
739873,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
109671,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
422541,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259178,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
365838,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
131932,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
671155,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
121958,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
#X_train = X_train[X_train['Sales_per_Customer'] != np.inf]

In [22]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:


# Select only numeric features for scaling
numeric_features = X_train.select_dtypes(include=np.number).columns
X_train_numeric = X_train[numeric_features]
X_test_numeric = X_test[numeric_features]

# Apply StandardScaler to numeric features only
X_train_scaled = scaler.fit_transform(X_train_numeric)
X_test_scaled = scaler.transform(X_test_numeric)

# If you need to keep the original DataFrame structure,
# you can reassign the scaled numeric features back to the original DataFrames:
#X_train[numeric_features] = X_train_scaled
#X_test[numeric_features] = X_test_scaled

ValueError: Input X contains infinity or a value too large for dtype('float64').

In [ ]:
# feature scatling with standard scaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

ValueError: could not convert string to float: 'a'

In [ ]:
# feature scaling with standard scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Exclude 'Date' and other datetime-related columns from scaling
# Assuming 'Date', 'Days_to_Holiday', 'Days_after_Holiday' are datetime-related
datetime_cols = ['Date', 'Days_to_Holiday', 'Days_after_Holiday']
X_train_numeric = X_train.select_dtypes(exclude=['datetime64[ns]']) # Select only numeric columns for scaling

# If any datetime columns are still present, convert them to numeric representation like ordinal
# This example converts datetime columns to ordinal (number of days since epoch):
for col in datetime_cols:
    if col in X_train_numeric.columns:  # Check if the column is present
        X_train_numeric[col] = X_train_numeric[col].apply(lambda date: date.toordinal())  #  Convert the column to ordinal

# X_train_numeric = X_train.drop(columns=datetime_cols) # Drop datetime columns from features
X_train_scaled = scaler.fit_transform(X_train_numeric) # fit_transform on numeric features

# Apply the same transformation to X_test:
X_test_numeric = X_test.select_dtypes(exclude=['datetime64[ns]'])  # Select numeric columns
for col in datetime_cols:
    if col in X_test_numeric.columns:  # Check if the column is present
        X_test_numeric[col] = X_test_numeric[col].apply(lambda date: date.toordinal())  #  Convert the column to ordinal
# X_test_numeric = X_test.drop(columns=datetime_cols) # Drop datetime columns from features
X_test_scaled = scaler.transform(X_test_numeric)  #  Transform the test set using the fitted scaler

# You might want to reassemble the DataFrame if you dropped columns
# X_train = pd.concat([pd.DataFrame(X_train_scaled, index=X_train.index, columns=X_train_numeric.columns), X_train[datetime_cols]], axis=1)
# X_test = pd.concat([pd.DataFrame(X_test_scaled, index=X_test.index, columns=X_test_numeric.columns), X_test[datetime_cols]], axis=1)

# Reassign to the original variables
X_train = X_train_scaled
X_test = X_test_scaled

AttributeError: 'int' object has no attribute 'toordinal'

In [ ]:
# feature scaling with standard scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Exclude 'Date' and other datetime-related columns from scaling
# Assuming 'Date', 'Days_to_Holiday', 'Days_after_Holiday' are datetime-related
datetime_cols = ['Date', 'Days_to_Holiday', 'Days_after_Holiday']
X_train_numeric = X_train.select_dtypes(exclude=['datetime64[ns]']) # Select only numeric columns for scaling

# Instead of trying to convert 'Days_to_Holiday' and 'Days_after_Holiday' using toordinal,
# Since they are already numeric (representing days), we can directly scale them.
# If 'Date' is present, you might want to handle it differently,
# e.g., by extracting features like day, month, year, etc.

# Commenting out the problematic loop:
# for col in datetime_cols:
#     if col in X_train_numeric.columns:  # Check if the column is present
#         X_train_numeric[col] = X_train_numeric[col].apply(lambda date: date.toordinal())  # Convert the column to ordinal

# X_train_numeric = X_train.drop(columns=datetime_cols) # Drop datetime columns from features
X_train_scaled = scaler.fit_transform(X_train_numeric) # fit_transform on numeric features

# Apply the same transformation to X_test:
X_test_numeric = X_test.select_dtypes(exclude=['datetime64[ns]'])  # Select numeric columns
# Commenting out the loop for X_test as well:
# for col in datetime_cols:
#     if col in X_test_numeric.columns:  # Check if the column is present
#         X_test_numeric[col] = X_test_numeric[col].apply(lambda date: date.toordinal())  #  Convert the column to ordinal

# X_test_numeric = X_test.drop(columns=datetime_cols) # Drop datetime columns from features
X_test_scaled = scaler.transform(X_test_numeric)  #  Transform the test set using the fitted scaler

# You might want to reassemble the DataFrame if you dropped columns
# X_train = pd.concat([pd.DataFrame(X_train_scaled, index=X_train.index, columns=X_train_numeric.columns), X_train[datetime_cols]], axis=1)
# X_test = pd.concat([pd.DataFrame(X_test_scaled, index=X_test.index, columns=X_test_numeric.columns), X_test[datetime_cols]], axis=1)

# Reassign to the original variables
X_train = X_train_scaled
X_test = X_test_scaled

ValueError: could not convert string to float: 'a'

In [ ]:
#merge the Test_df and Train_df with inner join on store
df = pd.merge(Train_df, Test_df, how='inner', on='Store')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37115088 entries, 0 to 37115087
Data columns (total 16 columns):
 #   Column           Dtype
---  ------           -----
 0   Store            int64
 1   DayOfWeek_x      int64
 2   Date_x           object
 3   Sales            int64
 4   Customers        int64
 5   Open_x           int64
 6   Promo_x          int64
 7   StateHoliday_x   object
 8   SchoolHoliday_x  int64
 9   Id               int64
 10  DayOfWeek_y      int64
 11  Date_y           object
 12  Open_y           float64
 13  Promo_y          int64
 14  StateHoliday_y   object
 15  SchoolHoliday_y  int64
dtypes: float64(1), int64(11), object(4)
memory usage: 4.4+ GB

In [ ]:
df.head(30)

,Store,DayOfWeek_x,Date_x,Sales,Customers,Open_x,Promo_x,StateHoliday_x,SchoolHoliday_x,Id,DayOfWeek_y,Date_y,Open_y,Promo_y,StateHoliday_y,SchoolHoliday_y
0,1,5,2015-07-31,5263,555,1,1,0,1,1,4,2015-09-17,1.0,1,0,0
1,1,5,2015-07-31,5263,555,1,1,0,1,857,3,2015-09-16,1.0,1,0,0
2,1,5,2015-07-31,5263,555,1,1,0,1,1713,2,2015-09-15,1.0,1,0,0
3,1,5,2015-07-31,5263,555,1,1,0,1,2569,1,2015-09-14,1.0,1,0,0
4,1,5,2015-07-31,5263,555,1,1,0,1,3425,7,2015-09-13,0.0,0,0,0
5,1,5,2015-07-31,5263,555,1,1,0,1,4281,6,2015-09-12,1.0,0,0,0
6,1,5,2015-07-31,5263,555,1,1,0,1,5137,5,2015-09-11,1.0,0,0,0
7,1,5,2015-07-31,5263,555,1,1,0,1,5993,4,2015-09-10,1.0,0,0,0
8,1,5,2015-07-31,5263,555,1,1,0,1,6849,3,2015-09-09,1.0,0,0,0
9,1,5,2015-07-31,5263,555,1,1,0,1,7705,2,2015-09-08,1.0,0,0,0
10,1,5,2015-07-31,5263,555,1,1,0,1,8561,1,2015-09-07,1.0,0,0,0
11,1,5,2015-07-31,5263,555,1,1,0,1,9417,7,2015-09-06,0.0,0,0,0
12,1,5,2015-07-31,5263,555,1,1,0,1,10273,6,2015-09-05,1.0,0,0,0
13,1,5,2015-07-31,5263,555,1,1,0,1,11129,5,2015-09-04,1.0,1,0,1
14,1,5,2015-07-31,5263,555,1,1,0,1,11985,4,2015-09-03,1.0,1,0,1
15,1,5,2015-07-31,5263,555,1,1,0,1,12841,3,2015-09-02,1.0,1,0,1
16,1,5,2015-07-31,5263,555,1,1,0,1,13697,2,2015-09-01,1.0,1,0,1
17,1,5,2015-07-31,5263,555,1,1,0,1,14553,1,2015-08-31,1.0,1,0,1
18,1,5,2015-07-31,5263,555,1,1,0,1,15409,7,2015-08-30,0.0,0,0,1
19,1,5,2015-07-31,5263,555,1,1,0,1,16265,6,2015-08-29,1.0,0,0,1
20,1,5,2015-07-31,5263,555,1,1,0,1,17121,5,2015-08-28,1.0,0,0,1
21,1,5,2015-07-31,5263,555,1,1,0,1,17977,4,2015-08-27,1.0,0,0,1
22,1,5,2015-07-31,5263,555,1,1,0,1,18833,3,2015-08-26,1.0,0,0,1
23,1,5,2015-07-31,5263,555,1,1,0,1,19689,2,2015-08-25,1.0,0,0,1
24,1,5,2015-07-31,5263,555,1,1,0,1,20545,1,2015-08-24,1.0,0,0,1
25,1,5,2015-07-31,5263,555,1,1,0,1,21401,7,2015-08-23,0.0,0,0,1
26,1,5,2015-07-31,5263,555,1,1,0,1,22257,6,2015-08-22,1.0,0,0,1
27,1,5,2015-07-31,5263,555,1,1,0,1,23113,5,2015-08-21,1.0,1,0,1
28,1,5,2015-07-31,5263,555,1,1,0,1,23969,4,2015-08-20,1.0,1,0,1
29,1,5,2015-07-31,5263,555,1,1,0,1,24825,3,2015-08-19,1.0,1,0,1

In [ ]:
df.shape

(37115088, 16)

In [ ]:
# check for the missing value
df.isnull().sum()

Store                  0
DayOfWeek_x            0
Date_x                 0
Sales                  0
Customers              0
Open_x                 0
Promo_x                0
StateHoliday_x         0
SchoolHoliday_x        0
Id                     0
DayOfWeek_y            0
Date_y                 0
Open_y             10362
Promo_y                0
StateHoliday_y         0
SchoolHoliday_y        0
dtype: int64

In [ ]:
#merge the Test_df and Train_df with outer join
df = pd.merge(Train_df, Test_df, how='outer')

In [ ]:
df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Id
0,1,1,2015-02-09,3965.0,501.0,1.0,0.0,0,0.0,NaN
1,1,1,2015-02-16,4303.0,478.0,1.0,1.0,0,0.0,NaN
2,1,1,2015-02-23,3598.0,454.0,1.0,0.0,0,0.0,NaN
3,1,1,2015-03-02,5942.0,669.0,1.0,1.0,0,0.0,NaN
4,1,1,2015-03-09,3701.0,485.0,1.0,0.0,0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
237303,1115,7,2015-08-16,NaN,NaN,0.0,0.0,0,1.0,28248.0
237304,1115,7,2015-08-23,NaN,NaN,0.0,0.0,0,1.0,22256.0
237305,1115,7,2015-08-30,NaN,NaN,0.0,0.0,0,1.0,16264.0
237306,1115,7,2015-09-06,NaN,NaN,0.0,0.0,0,0.0,10272.0
237307,1115,7,2015-09-13,NaN,NaN,0.0,0.0,0,0.0,4280.0

In [ ]:
# check for the missing value
df.isnull().sum()

Store                 0
DayOfWeek             0
Date                  0
Sales             41089
Customers         41089
Open                 12
Promo                 1
StateHoliday          1
SchoolHoliday         1
Id               196220
dtype: int64

In [ ]:
# describe
df.describe()

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday,Id
count,237308.000000,237308.000000,196219.000000,196219.000000,237296.000000,237307.000000,237307.000000,41088.000000
mean,557.590178,4.001007,5886.107497,625.698979,0.833845,0.378552,0.203955,20544.500000
std,321.571731,1.999248,3859.933323,455.644067,0.372221,0.485027,0.402937,11861.228267
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,279.000000,2.000000,3890.000000,411.000000,1.000000,0.000000,0.000000,10272.750000
50%,557.000000,4.000000,5903.000000,607.000000,1.000000,0.000000,0.000000,20544.500000
75%,836.000000,6.000000,7997.000000,823.000000,1.000000,1.000000,0.000000,30816.250000
max,1115.000000,7.000000,41551.000000,5458.000000,1.000000,1.000000,1.000000,41088.000000